body{
	display:flex;
	justify-content:center;
	background:#f8f8f8;
	font-family:arial;
}
.book-library{
	width:90%;
	background:#ffffff;
	border-radius:10px;
	border-top:none;
	box-shadow:0px 0px 5px gray;
}
.book{
background:#f8f8f8;
}
h1{
	padding:20px;
	margin-top:0px;
	text-align:center;
	border-radius:10px;
	border-top:none;
background:#f8f8f8;
	
}
.image{
	padding-top:20px;
	justify-content:center;
	text-align:center;
	color:rgb(46, 204, 113);
}
.author{
	color:#777777;
	margin-left:40px;
}
.price-block{
	width:90%;
	color:white;
	background:#2ecc71;
	text-align:center;
	margin-left:40px;
}
h2{
	margin-left:40px;
}